/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* main */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__container{
    width: 50%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
}

.main__section{
    grid-row-start: 1;
    grid-row-end: 7;
}

.sedans{
  background-color: var(--bright-orange);
}

.suvs{
  background-color: var(--dark-cyan);
}

.luxury{
  background-color: var(--very-dark-cyan);
}